@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: #ffffff;
    color: #1a1a1a;
  }
}

/* Custom Scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #d4af37; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b5952f; 
}